*.log
#folders
**/back_app/market/migrations
**/back_app/music/migrations
**/back_app/users/migrations
.back_app/market/migrations/*
.back_app/music/migrations/*
.back_app/users/migrations/*
# Files
*.pyc
*.mp3
__init__.py
#envs
.env.dev
*.sqlite3
**/backapp/makret/__pycache__
**/backapp/music/__pycache__
**/backapp/users/migrations